.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items:center;
  height: 293px;
  width: 1100px;
}

.logo-black{
  height: 148px;
  width: 105px;
}
.header menu{
    display: flex;
  flex-direction: row;
}