.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items:center;
  padding: 92px 24px 92px 24px;
}
.header__menu {
  display: flex;
  justify-self: center;
}
.header__logo-image {
  width: 124.05px;
  height: 94.84px;
}